{% extends '@SonataAdmin/standard_layout.html.twig' %}

{# Disable search bar #}
{% block sonata_sidebar_search %}{% endblock sonata_sidebar_search %}

{# Remove add block #}
{% block sonata_top_nav_menu %}
	<div class="navbar-custom-menu">
		<ul class="nav navbar-nav">
			<li class="dropdown user-menu">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					<i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
				</a>
				<ul class="dropdown-menu dropdown-user">
					{% include sonata_admin.adminPool.getTemplate('user_block') %}
				</ul>
			</li>
		</ul>
	</div>
{% endblock %}

{# AJAX loader #}
{% block stylesheets %}
	{{ parent() }}

	<style type="text/css">
		body.loader          { overflow : hidden; }
		body.loader .spinner { display  : block; }

		.spinner {
			display          : none;
			position         : fixed;
			top              : 0;
			right            : 0;
			bottom           : 0;
			left             : 0;
			z-index          : 1050;
			background-color : rgba(0, 0, 0, .3);
		}

		.spinner .spinner-wrapper {
			position  : fixed;
			top       : 50%;
			left      : 50%;
			transform : translate(-50%, -50%);
			color     : white;
		}
	</style>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript">
		$(function () {
			$(document).on({
				ajaxStart : function() { $('body').addClass   ('loader'); },
				ajaxStop  : function() { $('body').removeClass('loader'); },
				submit    : function() { $('body').addClass   ('loader'); }
			});
		});
	</script>
{% endblock %}

{% block sonata_wrapper %}
	{{ parent() }}

	{{ block('spinner') }}
{% endblock %}

{% block spinner %}
	<div class="spinner">
		<div class="spinner-wrapper">
			<i class="fa fa-spinner fa-pulse fa-4x fa-fw"></i>
			<span class="sr-only">Loading...</span>
		</div>
	</div>
{% endblock %}