{% extends '@SonataAdmin/Menu/sonata_menu.html.twig' %}

{% block spanElement %}
	{% spaceless %}
		<a href="#">
			{% set translation_domain = item.extra('label_catalogue') %}
			{% set icon = item.extra('icon')|default('') %}
			{{ icon|raw }}
			{{ parent() }}
			{# Cogitoweb: replaced default icon from "fa-angle-left" to "fa-angle-down" #}
			<i class="fa pull-right fa-angle-down"></i>
		</a>
	{% endspaceless %}
{% endblock %}